.calendar {
  margin: 1.5rem;
  padding: 3rem;
  background: #d0d5f3;
  border-radius: 25px;
  text-align: center;
}

.calendar-inactive {
  opacity: 40;
}

.calendar h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.time {
  margin: 1rem;
  border-radius: 25px;
  border: none;
  color: #141a38;
  background: #a3b1ff;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.time:hover,
.button:hover,
.calendar:hover {
  cursor: pointer;
}

.time:hover {
  background: #5461ab;
  color: white;
}

.calendar:hover {
  background: #f0f1f3;
  color: black;
}

.calendarContainer,
.timeContainer {
  flex-wrap: wrap;
}

.clicked {
  background: #112597;
  color: #f0f1f3;
}

.disabled {
  opacity: 20%;
}

.disabled:hover{
  background: #d0d5f3;
  cursor: auto;
}