.calendar {
  margin: 1.5rem;
  padding: 3rem;
  background: #d0d5f3;
  border-radius: 25px;
  text-align: center;
}

.calendar-inactive {
  opacity: 40;
}

.calendar h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.day {
  margin: 1rem;
  border-radius: 10px;
  border: none;
  color: #141a38;
  background: #a3b1ff;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 5px 5px black;
}

.time {
  width: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #d0d5f3;
  box-shadow: 2px 5px 5px black;
}

.button:hover,
.calendar:hover,
.time:hover {
  cursor: pointer;
}

.calendar:hover,
.time:hover {
  background: #f0f1f3;
  color: black;
}

.calendarContainer,
.timeContainer {
  flex-wrap: wrap;
}

.clicked {
  background: #112597;
  color: #f0f1f3;
}

.disabled {
  opacity: 20%;
}

.disabled:hover {
  background: #d0d5f3;
  cursor: auto;
}
