/****************/
/**** Font ****/
/****************/
.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

header li a {
  font-weight: 700;
}

#root * {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
.employeeLink:hover {
  text-decoration: underline;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.2rem;
}

p,
a,
input,
select,
textarea,
li {
  font-size: 2rem;
}

small {
  font-size: 1.2rem;
}

label {
  font-size: 2.5rem;
}

.icons {
  font-size: 3rem;
}

.text-2xl {
  font-size: 2rem;
}

.text-3xl {
  font-size: 3rem;
}

.text-3_5xl {
  font-size: 3.5rem;
}

.text-4xl {
  font-size: 4rem;
}

.capitalize {
  text-transform: capitalize;
}
/****************/
/**** Spacing ****/
/****************/

.min-20 {
  width: 20%;
}

.w-full {
  width: 100%;
}

.px-2{
  padding: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.p-4 {
  padding: 4rem;
}

.p-6 {
  padding: 6rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.m-2 {
  margin: 2rem;
}

.my-1 {
  margin: 1rem 0rem;
}

.my-2 {
  margin: 2rem 0rem;
}

.mx-2 {
  margin: 0rem 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-6 {
  margin-top: 6rem;
}

.h-12vh {
  min-height: 12vh;
}

.h-24vh {
  min-height: 24vh;
}

.h-36vh {
  min-height: 36vh;
}

.h-48vh {
  min-height: 48vh;
}

.minh-screen {
  min-height: 100vh;
}

.maxw-full {
  max-width: 100%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}


.w-50{
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

/****************/
/**** Layout ****/
/****************/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.items-end {
  align-items: end;
}

.align-end {
  align-self: flex-end;
}

.align-start {
  align-self: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

/****************/
/**** Components ****/
/****************/
.cartSelect{
  width: 20%;
}

.auto-button {
  color: black;
  cursor: pointer;
  padding: 1rem;
  border: none;
  font-size: 2rem;
  background: none;
}

.auto-button:hover {
  background: #37383a;
  color: white;
  border-radius: 10px;
}

.button {
  font-size: 2rem;
  background: #141937;
  color: #e5ecfc;
  padding: 1.5rem 2.5rem;
  border-radius: 25px;
}

.button:hover {
  cursor: pointer;
  background: #323e84;
  color: #e5ecfc;
}

.employeeNav {
  right: 17rem;
  box-shadow: 10px 5px 5px rgb(61, 53, 53);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  padding: 2rem;
  background: #d0d5f3;
  border-radius: 10px;
}

.inventory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cart:hover{
  opacity: 60%;
  cursor: pointer;
}

.cartQuantity {
  text-align: center;
  background: red;
  border-radius: 50%;
  min-width: 10px;
  min-height: 10px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 3rem;
  bottom: 1rem;
  padding: 0.2rem;
  font-size: 1rem;
}

.autoSuggest {
  position: absolute;
  z-index: 1;
}

.purchase-pos {
  position: relative;
  right: 6rem;
}

.imageContainer, select {
  cursor: pointer;
}

.imageContainer:hover {
  opacity: 50%;
}

/****************/
/**** Display ****/
/****************/

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

body {
  background: url("../assets/background.jpg");
  background-repeat: no-repeat;
}

.bg-white {
  background: white;
}

.bg-nav {
  background: #5e627a;
}

.bg-nav * {
  color: #e5ecfc;
}

.current-link {
  text-decoration: underline;
  color: #e5ecfc;
}

.border-radius-10px {
  border-radius: 10px;
}

/****************/
/**** Form ****/
/****************/

input,
select {
  padding: 1rem 2rem;
  border-radius: 25px;
}

.radio {
  margin-right: 2rem;
  font-size: 5rem;
}

textarea {
  resize: none;
}

footer nav ul li:hover {
  opacity: 70%;
}

/****************/
/**** Border ****/
/****************/

.shadow-2xs {
  box-shadow: 10px 5px 5px rgb(61, 53, 53);
}

.cursor-pointer {
  cursor: pointer;
}

/****************/
/**** Mode ****/
/****************/

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
}

.lightNav {
  background-color: white;
}

.darkNav {
  background-color: #141937;
}

.lightBtn {
  background-color: #d0d5f3;
  color: black;
}

nav .lightBtn * {
  color: black;
}

.selectedPage {
  background-color: #141937;
  color: white;
}

table{
  border-collapse: collapse;
}

.even-row{
  background: #b0b7df;
}

.even-dark{
  background: #141937;
  color: white;
}

.dark-btn{
  background: #2c2f41;
  color: white;
}